.footer__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  margin-top: 30px;

  line-height: 28px;
  color: #e5e5e5;
}

.footer__form-field {
  display: block;

  width: 447px;
  padding: 17px 21px;
  margin-top: 10px;
  margin-right: 33px;

  line-height: 28px;
}

.footer__form-field::placeholder {
  color: #e5e5e5;
}

.footer__form-button {
  padding: 17px 15px;
  border-radius: 3px;

  text-transform: uppercase;
  color: #e5e5e5;
}

.footer__form-button:hover {
  border-color: transparent;

  background-color: #ffca62;

  color: #2d2b2f;
}

.footer__form-button:active {
  border-color: transparent;

  background-color: #ffffff;

  color: #2d2b2f;
}
